@charset "utf-8";
@bodyColor:#4193f7;
@divColor01:#ffffff;
@divColor03:#135eba;
@divColor04:#e4f0ff;
@divColor05:#2c86d5;
@borderColor01:#efefef;
@borderColor02:#ededed;
@fcolor01:#ffffff;
@fcolor02:#444444;
@fcolor03:#888888;
@fcolor04:#135eba;